apiVersion: apps/v1
kind: Deployment
metadata:
  name: retroarch
  labels:
    app.kubernetes.io/instance: retroarch
    app.kubernetes.io/name: retroarch
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: retroarch
      app.kubernetes.io/name: retroarch
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: retroarch
        app.kubernetes.io/name: retroarch
    spec:
      volumes:
      - name: dev-input
        hostPath:
          path: /dev/input
      - name: udev
        hostPath:
          path: /run/udev
      - name: xorg
        hostPath:
          path: /tmp/.X11-unix
      - name: var-log
        hostPath:
          path: /var/log
      - name: audio-socket
        hostPath:
          path: /tmp/pulse
      - name: home-retro
        persistentVolumeClaim:
          claimName: retroarch
      - name: software
        persistentVolumeClaim:
          claimName: nfs-nextcloud-gow
      - name: pulse-conf
        configMap:
          name: pulse-audio-config
          items:
          - key: default.pa
            path: default.pa
          - key: client.conf
            path: client.conf
          - key: daemon.conf
            path: daemon.conf
#       nodeSelector:
#         nvidia.com/gtx970_gpu: "true"
#         gpu.intel.com/i915: "true"
      hostNetwork: true
      initContainers:
      - command:
        - sh
        - -c
        - mkdir -p /home-retro/sunshine && chown 1000:1000 /home-retro/sunshine && mkdir -p /home-retro/retroarch && chown 1000:1000 /home-retro/retroarch
        image: busybox:1.33.1
        imagePullPolicy: IfNotPresent
        name: mk-home-retro-dirs
        volumeMounts:
        - mountPath: /home-retro
          name: home-retro
      containers:

      - name: xorg
        image: gameonwhales/xorg:latest
        securityContext:
          privileged: true
        env:
        - name: DISPLAY
          value: :99
        - name: REFRESH_RATE
          value: "60"
        - name: RESOLUTION
          value: "1920x1080"
        volumeMounts:
        - name: dev-input
          mountPath: /dev/input
          readOnly: true
        - name: udev
          mountPath: /run/udev
          readOnly: true
        - name: xorg
          mountPath: /tmp/.X11-unix
        - name: var-log
          mountPath: /var/log

      - name: pulseaudio
        image: gameonwhales/pulseaudio:latest
        volumeMounts:
        - name: audio-socket
          mountPath: /tmp/pulse
        - name: pulse-conf
          mountPath: /etc/pulse


      - name: sunshine
        image: gameonwhales/sunshine:latest
        securityContext:
          privileged: true
        ports:
        - containerPort: 48010
          protocol: TCP
        - containerPort: 47984
          protocol: TCP
        - containerPort: 47985
          protocol: TCP
        - containerPort: 47986
          protocol: TCP
        - containerPort: 47987
          protocol: TCP
        - containerPort: 47988
          protocol: TCP
        - containerPort: 47989
          protocol: TCP
        - containerPort: 47990
          protocol: TCP
        - containerPort: 47998
          protocol: UDP
        - containerPort: 47999
          protocol: UDP
        - containerPort: 48000
          protocol: UDP
        readinessProbe:
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 47990
          timeoutSeconds: 1
        env:
        - name: DISPLAY
          value: :99
        - name: LOG_LEVEL
          value: info
        - name: PULSE_SERVER
          value: "/tmp/pulse/pulse-socket"
        - name: SUNSHINE_PASS
          value: admin
        - name: SUNSHINE_USER
          value: admin
        - name: GOW_REQUIRED_DEVICES
          value: "/dev/uinput /dev/input/event* /dev/dri/*"
        - name: XDG_RUNTIME_DIR
          value: "/tmp/.X11-unix"
        volumeMounts:
        - name: audio-socket
          mountPath: /tmp/pulse
        - name: udev
          mountPath: /run/udev
          readOnly: true
        - name: xorg
          mountPath: /tmp/.X11-unix
        - name: home-retro
          mountPath: /home/retro/
          subPath: sunshine

      - name: retroarch
        securityContext:
          privileged: true
        env:
        - name: DISPLAY
          value: :99
        - name: LOG_LEVEL
          value: debug
        - name: PULSE_SERVER
          value: "/tmp/pulse/pulse-socket"
        image: gameonwhales/retroarch:latest
        volumeMounts:
        - name: audio-socket
          mountPath: /tmp/pulse
        - name: dev-input
          mountPath: /dev/input
          readOnly: true
        - name: udev
          mountPath: /run/udev
          readOnly: true
        - name: xorg
          mountPath: /tmp/.X11-unix
        - name: home-retro
          mountPath: /home/retro/
          subPath: retroarch
        - name: software
          mountPath: /home/retro/software
          readOnly: true

      - name: ubuntu
        securityContext:
          privileged: true
        command:
        - "/bin/sh"
        - "-c"
        - |
          trap 'exit' INT TERM
          while [ 1 ]; do
            sleep 600 &
            wait $!
          done
        env:
        - name: DISPLAY
          value: :99
        - name: LOG_LEVEL
          value: debug
        - name: PULSE_SERVER
          value: "/tmp/pulse/pulse-socket"
        image: ubuntu:latest
        volumeMounts:
        - name: audio-socket
          mountPath: /tmp/pulse
        - name: dev-input
          mountPath: /dev/input
          readOnly: true
        - name: udev
          mountPath: /run/udev
          readOnly: true
        - name: xorg
          mountPath: /tmp/.X11-unix
        - name: home-retro
          mountPath: /root
          subPath: rootHome
        - name: software
          mountPath: /root/software
          readOnly: true