apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: cluster-settings
data:
  #VALUES DIFFERENT PROD - STAGING
  CLUSTER_ENV: "staging"
  CLUSTER_DOMAIN: nunez-gregoire.eu
  CLUSTER_DOMAIN_DUMMY: dummy1
  CLUSTER_DOMAIN_CERT: prod-wildcard-nunez-gregoire-eu-tls
  CLUSTER_EXTERNAL_SUBNET_PREFIX: 192.168.11
  CLUSTER_LB_RANGE: 192.168.11.128-192.168.11.192

  CLUSTER_DB_VERSION: "13"
  CLUSTER_DB_NODE_0: test-k3s1
  CLUSTER_DB_NODE_1: test-k3s2
  CLUSTER_DB_BACKUP_PREFIX: "backup/staging_db"

  FLUX_NOTIFICATIONS_CHANNEL: k8s-staging
  BOTKUBE_NOTIFICATIONS_CHANNEL: k8s-staging

  NFS_KUBERNETES: /volume1/kubernetes-test
  NFS_DOWNLOADS: /volume1/downloads
  NFS_SOFTWARE: /volume1/software
  NFS_VIDEO: /volume1/video