---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
  - db/ks.yaml
  - app/ks.yaml
  - app-daemon/ks.yaml
