---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${MY_NAMESPACE}
spec:
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  timeout: 20m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  # See https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
  values:
    controllers:
      main:
        serviceAccount:
          identifier: default
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2026.2.0@sha256:342b1e0ff1a6e5841c9755b7afadf5b1aef053f0eb3cab98c813ca8ac83e67aa
            env:
              ESPHOME_DASHBOARD_USE_PING: "true"
          editor:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
            args:
              - --auth
              - none
              - --port
              - "12321"
              - /config
            securityContext:
              runAsUser: 0
    serviceAccount:
      default:
        enabled: true
    rbac:
      bindings:
        default:
          type: RoleBinding
          roleRef:
            name: system:openshift:scc:anyuid  # For runAsUser
            kind: ClusterRole
          subjects:
            - identifier: default

    persistence:
      config:
        enabled: true
        existingClaim: esphome-pvc
      build:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        # type: emptyDir
        # globalMounts:
        #   - path: /config/.esphome
        #     readOnly: false
      ssh-key:
        enabled: true
        type: secret
        name: git-ssh-keys
        defaultMode: 256
        items:
          - key: id_rsa
            path: id_rsa
        advancedMounts:
          main:
            editor:
              - path: /root/.ssh/id_rsa
                subPath: id_rsa

    service:
      main:
        controller: main
        ports:
          http:
            port: 6052
      editor:
        controller: main
        ports:
          http:
            port: 12321

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:esphome
          hajimari.io/info: Programs esphome devices
          hajimari.io/group: automation
          nginx.ingress.kubernetes.io/configuration-snippet: |
            auth_request_set $required_groups 'casa_editors';
        hosts:
          - host: esphome.pub.${CLUSTER_DOMAIN}
            paths: &paths
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
          - host: esphome.home.${CLUSTER_DOMAIN}
            paths: *paths
      editor:
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: vscode-icons:file-type-vscode
          hajimari.io/info: Esphome editor
          hajimari.io/group: automation
          nginx.ingress.kubernetes.io/configuration-snippet: |
            auth_request_set $required_groups 'casa_editors';
        hosts:
          - host: esphome-editor.home.${CLUSTER_DOMAIN}
            paths: &paths_editor
              - path: /
                pathType: Prefix
                service:
                  identifier: editor
                  port: http
          - host: esphome-editor.pub.${CLUSTER_DOMAIN}
            paths: *paths_editor
