---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  # See https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.2@sha256:cd8223eecd8383b30f9b9c549a9993b5a748734c52fd9b6e6ef4d704ec7d2385
            env:
              ESPHOME_DASHBOARD_USE_PING: "true"
          editor:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
            args:
            - --auth
            - none
            - --port
            - "12321"
            - /config
            securityContext:
              runAsUser: 0
    
    persistence:
      config:
        enabled: true
        existingClaim: esphome-pvc
      build:
        enabled: true
        type: emptyDir
        globalMounts:
        - path: /config/.esphome
          readOnly: false
      ssh-key:
        enabled: true
        type: secret
        name: git-ssh-keys
        defaultMode: 256
        items:
        - key: id_rsa
          path: id_rsa
        advancedMounts:
          main:
            editor:
            - path: /root/.ssh/id_rsa
              subPath: id_rsa

    service:
      main:
        controller: main
        ports:
          http:
            port: 6052
      editor:
        controller: main
        ports:
          http:
            port: 12321

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:esphome
          hajimari.io/info: Programs esphome devices
          hajimari.io/group: automation
          nginx.ingress.kubernetes.io/configuration-snippet: |
            auth_request_set $required_groups 'casa_editors';
        hosts:
        - host: esphome.pub.${CLUSTER_DOMAIN}
          paths: &paths
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
        - host: esphome.home.${CLUSTER_DOMAIN}
          paths: *paths
      editor:
        enabled: true
        annotations:
            hajimari.io/enable: "true"
            hajimari.io/icon: vscode-icons:file-type-vscode
            hajimari.io/info: Esphome editor
            hajimari.io/group: automation
            nginx.ingress.kubernetes.io/configuration-snippet: |
              auth_request_set $required_groups 'casa_editors';
        hosts:
        - host: esphome-editor.home.${CLUSTER_DOMAIN}
          paths: &paths_editor
          - path: /
            pathType: Prefix
            service:
              identifier: editor
              port: http
        - host: esphome-editor.pub.${CLUSTER_DOMAIN}
          paths: *paths_editor
