apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  # See https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
  values:
    image:
      repository: ghcr.io/esphome/esphome
      tag: 2024.11.3@sha256:26a3b54a42c110640bd72bc7c6302ae2607404b89206be07c90410a8677a5002
    
    persistence:
      config:
        enabled: true
        existingClaim: esphome-pvc

    env:
      ESPHOME_DASHBOARD_USE_PING: "true"

    service:
      main:
        ports:
          http:
            port: 6052
    
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:esphome
          hajimari.io/info: Programs esphome devices
          hajimari.io/group: automation
          nginx.ingress.kubernetes.io/configuration-snippet: |
            auth_request_set $required_groups 'casa_editors';
        hosts:
        - host: esphome.pub.${CLUSTER_DOMAIN}
          paths:
          - path: /
            # Ignored if not kubeVersion >= 1.14-0
            pathType: Prefix
        - host: esphome.home.${CLUSTER_DOMAIN}
          paths:
          - path: /
            # Ignored if not kubeVersion >= 1.14-0
            pathType: Prefix
        tls:
        - hosts:
          - esphome.pub.${CLUSTER_DOMAIN}
          - esphome.home.${CLUSTER_DOMAIN}

    addons:
      codeserver:
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.96.2@sha256:6b8c0e944caec80057e71d2c2f352cee38fe00ae4b7515fc4458eb300844f699
        enabled: true
        volumeMounts:
        - name: config
          mountPath: /config
        git:
          # -- Existing secret containing SSH private key
          # The chart expects it to be present under the `id_rsa` key.
          deployKeySecret: git-ssh-keys
        ingress:
          enabled: true
          annotations:
            hajimari.io/enable: "true"
            hajimari.io/icon: vscode-icons:file-type-vscode
            hajimari.io/info: Esphome editor
            hajimari.io/group: automation
            nginx.ingress.kubernetes.io/configuration-snippet: |
              auth_request_set $required_groups 'casa_editors';
          hosts:
          - host: esphome-editor.home.${CLUSTER_DOMAIN}
            paths:
            - path: /
              pathType: Prefix
          - host: esphome-editor.pub.${CLUSTER_DOMAIN}
            paths:
            - path: /
              pathType: Prefix
          tls:
          - hosts:
            - esphome-editor.home.${CLUSTER_DOMAIN}
            - esphome-editor.pub.${CLUSTER_DOMAIN}
